{% extends 'base.html' %}

{% block title %}CoursePage{% endblock %}

{% block content %}
<div style="text-align: center;">
    <h1 align="left" style="color: rgb(193, 8, 240); float: left;">{{ course.name }}</h1>
    <h1 align = "right" style="float: right;">{{ course.joincode }}</h1>
    <a href ="{% url 'dashboard' %}"><button class="B1 button2">Dashboard</button></a>
    <a href ="{% url 'CourseHome' %}"><button class="B1 button1">CourseHome</button></a>
</div>  

{% if user.username == Instructor.username %}
    <div style="text-align: center; float: right;">
        <a href ="{% url 'assign_create' course.pk %}">
            <button class="button4">Create New Assignment</button>
        </a>
    </div>
{% endif %}
<br>
{% for a in assignments %}
<a href="{% url 'assign_page' course.pk a.pk %}">
    <button class = "button5">{{ a.name }}</button> 
</a>
{% endfor %}

{% endblock %}