{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div style="text-align: center;">
<h1 style="color: rgb(20, 88, 235);">Welcome {{user.username}}</h1>
<a href ="{% url 'CourseHome' %}"><button class="B1 button2">Courses</button></a><br>
<a href ="{% url 'profile_change' %}"><button class="button4">Edit Profie</button></a>
<a href ="{% url 'change_pass' %}"><button class="button4">Change Password</button></a>
    <div class="profile" style="font-weight: 100;" >
        
        <h2 style="display: inline;">Name:   <div style="color: cornsilk; display: inline;">{{user.username}}</div></h2><br>
        <h2 style="display: inline;">Email:   <div style="color: cornsilk; display: inline;">{{user.email}}</div></h2><br>
        <h2 style="display: inline;">First Name:   <div style="color: cornsilk; display: inline;">{{user.first_name}}</div></h2><br>
        <h2 style="display: inline;">Last Name:   <div style="color: cornsilk; display: inline;">{{user.last_name}}</div></h2><br>
    </div>
</div>


{% endblock %}
