

  .B1 {
    background-color: white;
    border: 2px solid black;
    color: green;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 10px 30px;
    cursor: pointer;
    text-decoration:none;
}

#login{
    color: tomato;
}

.dashbox {
  
  text-align: center;
}

.f1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: 100;
    color: orangered;
}

.f2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 100;
    color: blue;
}

.user {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 30;
    color: black;
}

.it {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 15;
    color: black;
    font-style: italic;
}

.box{
    border-style: none;
    border-width: 0.5mm;
    background-color: yellow;
    border-left: 6px solid red;
}