.head{
    background-color: cornflowerblue;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 50;
    padding-top: 10px;
    padding-left: auto;
    padding-right: auto;
    padding-bottom: 10px;
    display: inline-flexbox;
}


.B1 {
    background-color: white;
    border: 2px solid black;
    color: green;
    padding: 8px 15px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 10px 30px;
    cursor: pointer;
    text-decoration:none;
    transition-duration: 0.4s;
}

.B2 {
    background-color: #e7eb12;
    border: 2px solid black;
    color: rgb(238, 20, 20);
    padding: 20px 40px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    margin: 10px 20px;
    cursor: pointer;
    text-decoration:none;
    transition-duration: 0.3s;
}


.button1:hover{
    background-color: #f44336;
    color: white;
}

.button2:hover{
    background-color: #1aebe0;
    color: white;
}

.button3:hover{
    background-color: #c81aeb;
    color: rgb(98, 31, 231);
}

.login{
    color: blue;
    border: 6px solid red;
    background-color: rgba(241, 119, 119, 0.911);
    border-radius: 20px;
    text-align: center;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size: 30px;
    padding: 10px;
    margin: 20px 500px 20px 500px ;
    width: 500px;
}

.signup{
    color: rgb(8, 8, 8);
    border: 6px solid rgb(243, 243, 243);
    background-color: rgba(144, 253, 111, 0.842);
    border-radius: 20px;
    text-align: center;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size: 20px;
    padding: 10px;
    margin: 20px 300px 20px 300px ;
    width: auto;
}

.help{
    color: blueviolet;
    font-style: italic;
    font-weight: 50;
    padding: 0px;
}

.field{
    font-weight: 100;
    font-size: 30px;
    color: black;
}

.dashbox {
  
  text-align: center;
}

.f1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: 100;
    color: orangered;
}

.f2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 100;
    color: blue;
}

.user {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 30;
    color: black;
}

.it {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 15;
    color: black;
    font-style: italic;
}

.box{
    border-style: none;
    border-width: 0.5mm;
    background-color: yellow;
    border-left: 6px solid red;
}

.main {
    background-color: #262626;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .button4 {
    position: relative;
    display: block;
    width: 200px;
    height: 36px;
    border-radius: 18px;
    background-color: #1c89ff;
    border: solid 1px transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    transition: all .1s ease-in-out;
  }
.button4:hover {
    background-color: transparent;
    border-color: #fff;
    transition: all .1s ease-in-out;
}
