<!-- templates/base.html -->

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}">

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Home{% endblock %}</title>
  {% block H %}{% endblock %}
 
</head>
<body>
  <div class = "head">
    <h1 style = "text-align: center;">Float Moodle</h1>
    {% if user.is_authenticated %}
      <h3 style = "text-align: center; color: rgb(230, 226, 8);">{{user.username}}</h3>
      <div style="text-align: right;"><a href="{% url 'logout' %}" ><button class = "B1 button1">Logout</button></a></div>
    {% else %}
    <div style="text-align: center;">
      <a href="{% url 'signup' %}"><button class = "B1 button1">Signup</button></a>
      <a href="{% url 'login' %}"><button class = "B1 button1">Login</button></a>
    </div>
    {% endif %}
  </div>

    {% block content %}
    {% endblock %}

</body>
</html>
